    {% extends "www/common/layout.html" %}


{% block content %}

    <div class="section">
        <nav class="breadcrumbs">
            <ol class="breadcrumb-list">
                <li><a href="#" class="breadcrumb-home">主页</a></li>
                <li><span class="breadcrumb-item">/</span></li>
                <li class="breadcrumb-current">联系我们</li>
            </ol>
        </nav>
         <div class="form-container">
            <div class="form-wrapper">
                <h2 class="page-subtitle">留言板</h2>
                <p class="form-info">谢谢您提交的留言信息。我们将尽快给您回复。</p>

            </div>
        </div>
    </div>
{% endblock %}