    {% extends "www/common/layout.html" %}


{% block content %}
    <div class="section-full"><img class="banner-image" src="/static/assets/images/about_us.jpg" /></div>
    <div class="section">
        <nav class="breadcrumbs">
            <ol class="breadcrumb-list">
                <li><a href="#" class="breadcrumb-home">主页</a></li>
                <li><span class="breadcrumb-item">/</span></li>
                <li class="breadcrumb-current">关于我们</li>
            </ol>
        </nav>
        <div class="page">
            <h1>关于西大健身中心</h1>
            <p>“西南大学健身中心” 成立于2002年。“西南大学健身中心”隶属西南大学，挂靠单位为西南大学体育教研部。是从事体质监测、健身指导及健康促进理论与实践研究的专门性研究机构。</p>
            <p>“西南大学健身中心”是普通高校首家以关注“运动与健康”为核心内容的专门性研究机构，以实现身体锻炼科学化、大众化、终身化为最终发展目标。</p>
            <p>西南大学健身中心设有锻炼器材和健身设施，并配备专业健身教练。</p>
            <p>位于西南大学体育中心六层，是拥有自然采光、环境舒适且私密的健身中心。无论是休闲度假还是商务差旅客人，都能在繁忙的日程之余，在此继续他们的健身计划。有氧运动设备和力量锻炼器械一应俱全，临窗而放，令宾客在锻炼时可欣赏这座城市的生动风景以及朝日与夕阳。同时，专业且悉心的健身教练可为宾客提供私人定制化的训练计划和健康提示，令健身更加高效。</p>
        </div>
    </div>
{% endblock %}