    {% extends "www/common/layout.html" %}


{% block content %}
   <div class="section-full"><img class="banner-image" src="/static/assets/images/contact.jpg" /></div>
    <div class="section">
        <nav class="breadcrumbs">
            <ol class="breadcrumb-list">
                <li><a href="#" class="breadcrumb-home">主页</a></li>
                <li><span class="breadcrumb-item">/</span></li>
                <li class="breadcrumb-current">联系我们</li>
            </ol>
        </nav>
        <div class="contact-container">
            <div style="height:250px"><iframe width="100%" height="300px" class="map-frame" frameborder="0" title="map" marginheight="0" marginwidth="0" scrolling="no" src="https://surl.amap.com/7Kc2WlYguv"></iframe></div>
            <div class="contact-wrapper">
                <div class="contact-inner">
                    <div class="contact-head">
                        <h1>西南大学健身中心</h1>
                    </div>
                    <div class="contact-address-container">
                        <div class="contact-address-inner">
                            <h2 class="contact-address-title">地址</h2>
                            <p class="mt-1 font-">重庆市北碚区天生路2号体育中心A305室</p>
                            <h2 class="contact-address-title">邮编</h2>
                            <p class="contact-zip">400063</p>
                        </div>
                        <div class="contact-address-inner2">
                            <h2 class="contact-address-title">邮箱</h2><a class="contact-email">sales@****.com</a>
                            <h2 class="contact-address-title">电话</h2>
                            <p class="contact-address-phone">(+86) 023 6209 7735</p>
                            <h2 class="contact-address-title">传真</h2>
                            <p class="contact-address-phone">(+86) 023 6209 7161</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}