{% extends "www/common/layout.html" %}


{% block content %}

  <main class="main_hero">
    <div class="swiper-container" id="full-width-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide main_index_a">
                <div class="index_word zoomIn">
                    <h1>欢迎来到西大健身</h1>
                    <div class="index_word_c">
                      西大健身-一直致力于全民健身,引领中国健身产业,打造国际健身品牌
                    </div>
                    <div class="index_word_d">
                        <a href="#">
                            <span class="index_more">了解更多</span>
                            <span class="index_more_icon"> -> </span>
                        </a>
                    </div>
                </div>
                <div class="cb-slideshow">
                    <ul>
                        <li><span></span></li>
                        <li><span></span></li>
                        <li><span></span></li>
                        <li><span></span></li>
                        <li><span></span></li>
                        <li><span></span></li>
                    </ul>
                </div>
            </div>
            <div class="swiper-slide main_index_b">
                <div class="home-hero-content">
                    <div class="home-hero-figure">
                        <div class="home-hero-inner">
                            <div class="home-hero-image-w">
                                <img alt="gallery" class="home-banner" src="/static/assets/images/banner-1.jpg">
                            </div>
                        </div>
                        <div class="home-hero-inner">
                            <div class="home-hero-image-w">
                                <img alt="gallery" class="home-banner" src="/static/assets/images/banner-2.jpg">
                            </div>
                        </div>
                        <div class="home-hero-inner">
                            <div class="home-hero-image-w">
                                <img alt="gallery" class="home-banner" src="/static/assets/images/banner-3.jpg">
                            </div>
                        </div>
                        <div class="home-hero-inner">
                            <div class="home-hero-image-w">
                                <img alt="gallery" class="home-banner" src="/static/assets/images/banner-4.jpg ">
                            </div>
                        </div>
                        <div class="home-hero-inner ">
                            <div class="home-hero-image-w">
                                <img alt="gallery " class="home-banner" src="/static/assets/images/banner-5.jpg ">
                            </div>
                        </div>
                        <div class="home-hero-inner ">
                            <div class="home-hero-image-w">
                                <img alt="gallery " class="home-banner" src="/static/assets/images/banner-6.jpg ">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cb-slideshow ">
                    <ul>
                        <li><span></span></li>
                        <li><span></span></li>
                        <li><span></span></li>
                        <li><span></span></li>
                        <li><span></span></li>
                        <li><span></span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="index_mouse ">
            <img src="/static/assets/images/index_right_arrow.png " alt=" " />
        </div>
    </div>
</main>

  <div class="section section-course">
    <div class="section-hd">
      <h2 class="nav1">课程</h2>
      <div class="course-nav">
        <ul>
          <li><a href="/course/detail.html">八分钟P4P锻炼</a></li>
          <li><a href="/course/detail.html">Focus T25</a></li>
          <li>
            <a href="/course/detail.html">腹肌撕裂者</a>
          </li>
          <li>
            <a href="/course/detail.html">囚徒健身</a>
          </li>
          <li class="no-border">
            <a href="/course/">更多&nbsp;+</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="section-bd">
      <div class="home-feature">
        <div class="home-feature-item">
          <div class="feature-box">
            <div class="box-hd">
              <h2>按器械分类</h2>
              <a class="btn-more" href="/course/">更多&nbsp;+</a>
            </div>
            <div class="box-bd">
              <div class="box-item">
                <a href="/course/detail.html">
                  <div class="img-wrap">
                    <img src="http://static.ouj.com/hiyd_cms/template/6949cb8374d1442fb7063733fc2f9691.jpg" alt="" />
                  </div>
                  <p>杠铃</p>
                </a>
              </div>
              <div class="box-item">
                <a href="/course/detail.html">
                  <div class="img-wrap">
                    <img src="http://static.ouj.com/hiyd_cms/template/38ece67673364f3d8215435ade2a77c0.jpg" alt="" />
                  </div>
                  <p>壶铃</p>
                </a>
              </div>
              <div class="box-item">
                <a href="/course/detail.html">
                  <div class="img-wrap">
                    <img src="http://static.ouj.com/hiyd_cms/template/daf5bdfec93d4ff28feddaa5211c972a.jpg" alt="" />
                  </div>
                  <p>划船机</p>
                </a>
              </div>
              <div class="box-item">
                <a href="/course/detail.html">
                  <div class="img-wrap">
                    <img src="http://static.ouj.com/hiyd_cms/template/0606d7b6f9124f07b5d25c96d97a7379.jpg" alt="" />
                  </div>
                  <p>夹胸器</p>
                </a>
              </div>
              <div class="box-item">
                <a href="/course/detail.html">
                  <div class="img-wrap">
                    <img src="http://static.ouj.com/hiyd_cms/template/3a359c0b64bd403e82721c84fc780c26.jpg" alt="" />
                  </div>
                  <p>罗马椅</p>
                </a>
              </div>
              <div class="box-item">
                <a href="/course/detail.html">
                  <div class="img-wrap">
                    <img src="http://static.ouj.com/hiyd_cms/template/c8cb9be74f8448258e6ab4511d07a86f.jpg" alt="" />
                  </div>
                  <p>牧师凳</p>
                </a>
              </div>
              <div class="box-item">
                <a href="/course/detail.html">
                  <div class="img-wrap">
                    <img src="http://static.ouj.com/hiyd_cms/template/cc56f8a12b7c4b4aadccf3e804b2dc3d.jpg" alt="" />
                  </div>
                  <p>弹力带</p>
                </a>
              </div>
              <div class="box-item">
                <a href="/course/detail.html">
                  <div class="img-wrap">
                    <img src="http://static.ouj.com/hiyd_cms/template/25afcacaa35541faa5b80b7a3e80b90f.jpg" alt="" />
                  </div>
                  <p>史密斯机</p>
                </a>
              </div>
              <div class="box-item">
                <a href="/course/detail.html">
                  <div class="img-wrap">
                    <img src="http://static.ouj.com/hiyd_cms/template/138e76c075564d7e8eb175f90a120229.jpg" alt="" />
                  </div>
                  <p>哑铃</p>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!--课程-按器械分类-->
        <!--课程-家庭健身计划-->
        <div class="home-feature-item">
          <div class="feature-box">
            <div class="box-hd">
              <h2>家庭健身计划</h2>
              <a class="btn-more" href=/course/">更多&nbsp;+</a>
            </div>
            <div class="box-bd">
              <div class="feature-plan-item">
                <a    href="/course/detail.html">
                  <div class="img-wrap">
                    <img
                      src="http://static.ouj.com/hiyd_cms/78e285f11e1b4b2da09984011b314141.png?imageview/0/w/256/h/180/format/jpg"
                      alt="" />
                  </div>
                  <div class="home-feature-inner">
                    <h2>4分钟Tabata全身燃动-零基础</h2>
                    <p class="row row1">
                      <span class="col1">课时：1周</span>
                      <span>天/周：1天</span>
                    </p>
                    <p class="row row2">
                      <span class="col1">强度
                        <span class="icon-wrap water">
                          <span class="inner" style="width: 17px"></span>
                        </span>
                      </span>
                    </p>
                  </div>
                </a>
              </div>
              <div class="feature-plan-item">
                <a    href="/course/detail.html">
                  <div class="img-wrap">
                    <img
                      src="http://static.ouj.com/hiyd_cms/7ac6605c070a4827ae316789044e9226.jpg?imageview/0/w/256/h/180/format/jpg"
                      alt="" />
                  </div>
                  <div class="home-feature-inner">
                    <h2>睡前放松拉伸</h2>
                    <p class="row row1">
                      <span class="col1">课时：1周</span>
                      <span>天/周：1天</span>
                    </p>
                    <p class="row row2">
                      <span class="col1">强度
                        <span class="icon-wrap water">
                          <span class="inner" style="width: 17px"></span>
                        </span>
                      </span>
                    </p>
                  </div>
                </a>
              </div>
              <div class="feature-plan-item">
                <a    href="/course/detail.html">
                  <div class="img-wrap">
                    <img
                      src="http://static.ouj.com/hiyd_cms/cff84ddb7a314fcba4ebaca4edf2c65d.jpg?imageview/0/w/256/h/180/format/jpg"
                      alt="" />
                  </div>
                  <div class="home-feature-inner">
                    <h2>办公室五分钟拉伸</h2>
                    <p class="row row1">
                      <span class="col1">课时：1周</span>
                      <span>天/周：1天</span>
                    </p>
                    <p class="row row2">
                      <span class="col1">强度
                        <span class="icon-wrap water">
                          <span class="inner" style="width: 17px"></span>
                        </span>
                      </span>
                    </p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!--课程-家庭健身计划-->
        <div class="home-feature-item">
          <div class="feature-box">
            <div class="box-hd">
              <h2>锻炼动作</h2>
              <a class="btn-more" href="/action/">更多&nbsp;+</a>
            </div>
            <div class="box-bd">
              <span class="plan-hot"></span>
              <!--课程-锻炼动作-->
              <div class="course_action">
                <div class="feature-action-item">
                  <a href="/action/detail.html">
                    <div class="img-action-wrap">
                      <img src="http://static.ouj.com/hiyd_cms/template/207d03694e404243840a1626a8ae036e.jpg" alt="" />
                    </div>
                    <h2>胸肌</h2>
                  </a>
                </div>
                <div class="feature-action-item">
                  <a href="/action/detail.html">
                    <div class="img-action-wrap">
                      <img src="http://static.ouj.com/hiyd_cms/template/ab5a20f663364685b4c79d67d14de4ac.jpg" alt="" />
                    </div>
                    <h2>二头</h2>
                  </a>
                </div>
                <div class="feature-action-item">
                  <a href="/action/detail.html">
                    <div class="img-action-wrap">
                      <img src="http://static.ouj.com/hiyd_cms/template/e5f8714b155c4a1a9af3f417dcf92c9a.jpg" alt="" />
                    </div>
                    <h2>腹肌</h2>
                  </a>
                </div>
                <div class="feature-action-item">
                  <a href="/action/detail.html">
                    <div class="img-action-wrap">
                      <img src="http://static.ouj.com/hiyd_cms/template/72ebe32ef2074f0fab4bcfea9d68921f.jpg" alt="" />
                    </div>
                    <h2>肩部</h2>
                  </a>
                </div>
                <div class="feature-action-item">
                  <a href="/action/detail.html">
                    <div class="img-action-wrap">
                      <img src="http://static.ouj.com/hiyd_cms/template/fcee0a0abae44ac7901caffd99d075df.jpg" alt="" />
                    </div>
                    <h2>背部</h2>
                  </a>
                </div>
                <div class="feature-action-item">
                  <a href="/action/detail.html">
                    <div class="img-action-wrap">
                      <img src="http://static.ouj.com/hiyd_cms/template/3dfbfc7e0c1349caad24194cc8d83bb4.jpg" alt="" />
                    </div>
                    <h2>小腿</h2>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-food">
    <div class="section-hd">
      <h2 class="nav2">饮食</h2>
      <div class="course-nav">
        <ul>
          <li><a href="/food/">麦当劳</a></li>
          <li><a href="/food/">肯德基</a></li>
          <li>
            <a href="/food/">必胜客</a>
          </li>
          <li>
            <a href="/food/">汉堡王</a>
          </li>
          <li class="no-border">
            <a href="/food/">更多&nbsp;+</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="section-bd">
      <div class="home-feature">
        <div class="home-feature-item">
          <div class="feature-box">
            <div class="box-hd">
              <h2>饮食查询</h2>
              <a class="btn-more" href="/food/">更多&nbsp;+</a>
            </div>
            <div class="box-bd-1">
              <div class="box-item-1">
                <a class="box-1" href="/food/"   >
                  <div class="img-wrap">
                    <img src="http://static.ouj.com/hiyd_home/714c4ea0bbed42cfb98a4e4128010832.png" alt="谷薯芋、杂豆、主食" />
                  </div>
                  <h3>谷薯芋、杂豆、主食</h3>
                </a>
              </div>
              <div class="box-item-1">
                <a class="box-1" href="/food/"   >
                  <div class="img-wrap">
                    <img src="http://static.ouj.com/hiyd_home/473376dd33b04b1eb017fb4078ffaa34.png" alt="蛋类、肉类及制品" />
                  </div>
                  <h3>蛋类、肉类及制品</h3>
                </a>
              </div>
              <div class="box-item-1">
                <a class="box-1" href="/food/"   >
                  <div class="img-wrap">
                    <img src="http://static.ouj.com/hiyd_home/e148de440d51482ea73d8858b23c56e6.png" alt="奶类及制品" />
                  </div>
                  <h3>奶类及制品</h3>
                </a>
              </div>
              <div class="box-item-1">
                <a class="box-1" href="/food/"   >
                  <div class="img-wrap">
                    <img src="http://static.ouj.com/hiyd_home/af8e5fc248de43a68ad4ee30140ca66b.png" alt="蔬果和菌藻" />
                  </div>
                  <h3>蔬果和菌藻</h3>
                </a>
              </div>
              <div class="box-item-1">
                <a class="box-1" href="/food/"   >
                  <div class="img-wrap">
                    <img src="http://static.ouj.com/hiyd_home/5f7d07fa4ec1402bb0e1515c4cda4718.png" alt="坚果、大豆及制品" />
                  </div>
                  <h3>坚果、大豆及制品</h3>
                </a>
              </div>
              <div class="box-item-1">
                <a class="box-1" href="#"   >
                  <div class="img-wrap">
                    <img src="http://static.ouj.com/hiyd_home/ec9e67578b4d4bf8812b267af8ee763c.png" alt="食用油、油脂及制品" />
                  </div>
                  <h3>食用油、油脂及制品</h3>
                </a>
              </div>
              <div class="box-item-1">
                <a class="box-1" href="/food/"   >
                  <div class="img-wrap">
                    <img src="http://static.ouj.com/hiyd_home/022b78c8fa194f9e98e496973f3aa132.png" alt="调味品" />
                  </div>
                  <h3>调味品</h3>
                </a>
              </div>
              <div class="box-item-1">
                <a class="box-1" href="/food/"   >
                  <div class="img-wrap">
                    <img src="http://static.ouj.com/hiyd_home/0c538bc22f664e119e39a252afecaf26.png" alt="零食、点心、冷饮" />
                  </div>
                  <h3>零食、点心、冷饮</h3>
                </a>
              </div>
              <div class="box-item-1">
                <a class="box-1" href="/food/"   >
                  <div class="img-wrap">
                    <img src="http://static.ouj.com/hiyd_home/a3026f69aaa34047b6c1e1d4aa3fbea6.png" alt="菜肴" />
                  </div>
                  <h3>菜肴</h3>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="home-feature-item">
          <div class="feature-box">
            <div class="box-hd">
              <h2>饮食知识</h2>
              <a class="btn-more" href="/food/">更多&nbsp;+</a>
            </div>
            <div class="box-bd-food">
              <div class="feature-food-item">
                <a href="/food/">
                  <div class="food-img-wrap">
                    <img
                      src="https://static.ouj.com/hiyd_cms/b11d6538fcac478491b9182af083e1f2.jpg?imageview/0/w/380/h/216/format/jpg"
                      alt="用手掌控制饮食量 简简单单吃出健康" />
                  </div>
                  <div class="mask"></div>
                  <div class="cont">
                    <h3>用手掌控制饮食量 简简单单吃出健康</h3>
                    <p>
                      果你是一个认真减肥的人，肯定会比较关注食物的卡路里。实际上，卡路里含量只是一...
                    </p>
                  </div>
                </a>
              </div>
              <div class="feature-food-item">
                <a href="/food/">
                  <div class="food-img-wrap">
                    <img
                      src="https://static.ouj.com/hiyd_cms/1ada56de056a48ad8c688250df57b338.jpg?imageview/0/w/380/h/216/format/jpg"
                      alt="有助于瘦身的4种食材 这个夏天要多吃" />
                  </div>
                  <div class="mask"></div>
                  <div class="cont">
                    <h3>有助于瘦身的4种食材 这个夏天要多吃</h3>
                    <p>
                      进入夏天以后，绝对是帅哥靓女展示好身材的最佳时刻。但不是每个人都是那种穿衣显...
                    </p>
                  </div>
                </a>
              </div>
              <div class="feature-food-item">
                <a href="/food/">
                  <div class="food-img-wrap">
                    <img
                      src="https://static.ouj.com/hiyd_cms/5f7f03ecdf9c40d58aa41046e712c15c.jpg?imageview/0/w/380/h/216/format/jpg"
                      alt="运动前，运动中，运动后的进食方法" />
                  </div>
                  <div class="mask"></div>
                  <div class="cont">
                    <h3>运动前，运动中，运动后的进食方法</h3>
                    <p>
                      分享一下在运动前、中、后的饮食小诀窍，可以更好的帮助你达到健身效果。在健身房...
                    </p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="home-feature-item">
          <div class="feature-box">
            <div class="box-hd">
              <h2>计算工具</h2>
              <a class="btn-more" href="/tools/">更多&nbsp;+</a>
            </div>
            <div class="box-bd">
              <div class="food_calulation">
                <div class="feature-tool-item">
                  <a href="/tools/">
                    <img src="/static/assets/images/hj_28.png" /><br />饮食计算
                  </a>
                </div>
                <div class="feature-tool-item">
                  <a href="/tools/">
                    <img src="/static/assets/images/hj_02.png" /><br />了解自己
                  </a>
                </div>
                <div class="feature-tool-item">
                  <a href="/tools/">
                    <img src="/static/assets/images/hj_04.png" /><br />身体质量
                  </a>
                </div>
                <div class="feature-tool-item">
                  <a href="/tools/">
                    <img src="/static/assets/images/hj_06.png" /><br />标准体重
                  </a>
                </div>
                <div class="feature-tool-item">
                  <a href="/tools/">
                    <img src="/static/assets/images/hj_08.png" /><br />代谢循环
                  </a>
                </div>
                <div class="feature-tool-item">
                  <a href="/tools/">
                    <img src="/static/assets/images/hj_08.png" /><br />代谢循环
                  </a>
                </div>

                <div class="feature-tool-item">
                  <a href="/tools/">
                    <img src="/static/assets/images/hj_10.png" /><br />燃脂运动
                  </a>
                </div>

                <div class="feature-tool-item">
                  <a href="/tools/">
                    <img src="/static/assets/images/hj_12.png" /><br />最大维度
                  </a>
                </div>

                <div class="feature-tool-item">
                  <a href="/tools/">
                    <img src="/static/assets/images/hj_14.png" /><br />体脂率
                  </a>
                </div>

                <div class="feature-tool-item">
                  <a href="/tools/">
                    <img src="/static/assets/images/hj_16.png" /><br />最终体重
                  </a>
                </div>

                <div class="feature-tool-item">
                  <a href="/tools/">
                    <img src="/static/assets/images/hj_18.png" /><br />蛋白质含量
                  </a>
                </div>

                <div class="feature-tool-item">
                  <a href="/tools/">
                    <img src="/static/assets/images/hj_32.png" /><br />热量计算
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block css %}
    <link href="{{ GlobalUrlService.buildWWWStaticUrl('/assets/css/index.css') }}" rel="stylesheet">
{% endblock %}



{% block js %}
<script src="{{ GlobalUrlService.buildWWWStaticUrl('/assets/js/index.js') }}"></script>
{% endblock %}

