{% extends 'blog/base.html' %}


{% block main %}
    {{ super() }}

    <div class="container">
        <div class="row">
            <div class="col-12">文章标题</div>
            <div class="col-12 px-2">
                <ul class="list-inline">
                    <li class="list-inline-item"><a class="text-decoration-none" href="#"><span
                            class="text-dark ">[001]</span>
                        <span
                                class="text-primary">这是一篇测试文章</span></a></li>
                    <li class="list-inline-item"><a class="text-decoration-none" href="#"><span
                            class="text-secondary">分类信息：默认分类</span></a></li>
                    <li class="list-inline-item"><a class="text-decoration-none" href="#"><span
                            class="text-secondary">作者：张志军</span></a></li>
                    <li class="list-inline-item"><a class="text-decoration-none" href="#"><span
                            class="text-secondary">发布时间：2022-7-23</span></a></li>
                    <li class="list-inline-item"><a class="text-decoration-none" href="#"><span
                            class="text-secondary">查看次数：500</span></a></li>

                </ul>

            </div>
            <div class="col-12">文章正文</div>

        </div>
    </div>


{% endblock %}